.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App p {
  margin: 10px;
}

.error {
  color: gray;
  font-size: x-small;
}


.center {
  text-align: center;
}

.successful-expression {
  /* color: gray; */
}



#textholder {
  z-index: -2;
  color: rgba(0,0,0, 0.05);
  caret-color: black;
}

.autodraw, #textholder {
  width: 460px;
  height: 100%; /* 180px; */
  font: 20px/28px 'Open Sans', sans-serif;
  /* letter-spacing: 1px; */
}

#textholder ul {
  margin: 0px;
  padding: 0;
  list-style-type: none;
}

#textholder ul li {
  margin-bottom: 1.2em;
  height: 1.2em;
}

#textholder ul li:last-child {
  margin-bottom: unset;
}

.autodraw {
  position: absolute;
  z-index: -1;
  paddding: 2px;
  /* border: 2px solid #685972; */
  background-color: #fff;
  overflow: auto;
  pointer-events: none;
  transition: transform 1s;
}

.highlights {
  position:absolute;
}

.highlights ul {
  margin: 0px;
  padding: 0;
  list-style-type: none;
}

.highlights ul li {
  margin-bottom: 1.2em;
  height: 1.2em;
}

.results {
  /* ?? white-space: pre-wrap; */
  word-wrap: break-word;
  ZZcolor: red;
}

.results ul {
  padding: 0;
  list-style-type: none;
}

.results ul li {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  height: 1.2em;
}

.results ul li:last-child {
  margin-bottom: unset;
}




/* user input highlights */
.hl-number {
}

.hl-number {
  color: pink;
}

.hl-blue {
  color: blue;
}
