.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em ;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App p {
  margin: 10px;
}

.error {
  color: gray;
  font-size: x-small;
}


.center {
  text-align: center;
}

.successful-expression {
  /* color: gray; */
}



.autodraw, #textholder {
  width: 55%;
  height: 100%;
  /* font: 20px/28px 'Open Sans', sans-serif; */
  font-family: 'RobotoMono-Regular';
  letter-spacing: 1.2px;
}

#textholder-keeper {
  /* position: absolute; */
  /* 134 */
  /* display: flex; */
  /* align-items: top; */

  /* display: table; */
}


.textholder-placeholder {
  position: absolute;
  line-height: 4em;

  color: gray;

  font-family: 'RobotoMono-Regular';
  letter-spacing: 1.2px;
}

#textholder {
  z-index: -2;
  line-height: 4em;
  color: rgba(0,0,0, 0);
  caret-color: black;

  /* background-color: lightgray; */


  /* display: table-cell; vertical-align: top; */

  /* display: inline-block; */
  /* vertical-align: top; */

  /* display: flex; */
  /* flex-direction: column;*/
  /* align-items: top; */
}


#textholder:focus {
    outline: none;  /* remove blue focus border */
}

.autodraw {
  position: absolute;
  z-index: -1;
  paddding: 2px;
  /* border: 2px solid #685972; */
  /* background-color: #fff; */
  overflow: auto;
  pointer-events: none;
  transition: transform 1s;
}

.highlights {
  position:absolute;
  line-height: 4em;
}

.results {
  /* ?? white-space: pre-wrap; */
  /* padding-top: 2em; */
  /* line-height: 2em; */
  /* padding-bottom: 2em; */

  padding-top: 0.5em;
  word-wrap: break-word;
  ZZcolor: red;
  letter-spacing: 1.2px;

}


.res {
  /* IE-  width: fit-content;  */  /* https://stackoverflow.com/a/16765030/1948511 */
  display: inline-block;



  /* margin-top: 1em; */
}

.parsedExpression {
  background-color: #fff;
  border: 1px solid #d6d6e1;
  border-radius: 5px;

  margin-left: 1em;
  margin-top: 2.5em;
  margin-right: 5em;
  height: 1.5em;

  display: inline-block;
  /* width: 50%; */
}

/* user input highlights */
.hl-number {
}

.hl-number {
  color: pink;
}

.hl-blue {
  color: blue;
}
