/* display placeholder for empty editable div */
/* #textholder[contentEditable=true]:empty:not(:focus)::before { */
.textholder > div:empty:not(:focus)::before {
  content: attr(data-hint);
  color: gray;
}


.center {
  text-align: center;
}

.successful-expression {
  /* color: gray; */
}



.autodraw, .textholder {
  /* width: 100%; */
  height: 100%;
  /* font: 20px/28px 'Open Sans', sans-serif; */
  font-family: 'RobotoMono-Regular';
  letter-spacing: 1.2px;
}


.textholder-keeper {
  /* position: absolute;       don't use abosolute to fill vertical space     */

  /* display: flex; */
  /* align-items: top; */

  /* display: table; */
}


.textholder-placeholder {
  position: absolute;

  /* color: gray; */

  font-family: 'RobotoMono-Regular';
  letter-spacing: 1.2px;
}

.textholder {
  z-index: -2;
  /* color: rgba(0,0,0, 0); */
  /* caret-color: black; */

  /* background-color: lightgray; */


  /* display: table-cell; vertical-align: top; */

  /* display: inline-block; */
  /* vertical-align: top; */

  /* display: flex; */
  /* flex-direction: column;*/
  /* align-items: top; */
}

/* .textholder > div { */
/*   margin-bottom: 2em; */
/* } */

.textholder:focus {
    outline: none;  /* remove blue focus border */
}

.autodraw {
  position: absolute;
  z-index: -1;
  paddding: 2px;
  /* border: 2px solid #685972; */
  /* background-color: #fff; */
  /* overflow: auto; */
  pointer-events: none;
  transition: transform 1s;
}

.highlights {
  position:absolute;
}





/* margin between expressions/highlights/results */
.textholder > div {
  padding-bottom: 0.1em;
}
.highlights > div {
  padding-bottom: 0.1em;
}


.results > .result-sum {
  padding-bottom: 0.5em;
}


.main-container {
  padding: 0.5em 0em 0.5em 0em;
}



@media screen and (max-width: 639px) {
  .autodraw, .textholder-keeper {
    right: 0%;        /* to keep absolute positioned same width */
    left: 0%;
  }
  /* ugly copypaste ^^^ of non-absolute div */
  .textholder-keeper {
    margin-right: 0%;
    margin-left: 0%;
  }

}
@media screen and (min-width: 640px) {
  .autodraw, .textholder-keeper {
    right: 20%;        /* to keep absolute positioned same width */
    left: 20%;
  }
  /* ugly copypaste ^^^ of non-absolute div */
  .textholder-keeper {
    margin-right: 20%;
    margin-left: 20%;
  }

}



.results {
  /* width: 100%; */
  /* ?? white-space: pre-wrap; */
  /* padding-top: 2em; */
  /* padding-bottom: 2em; */

  word-wrap: break-word;
  letter-spacing: 1.2px;

}


.parsed-expression, .res {
  padding: 5px 9px 4px;
  border: 1px solid;
}

.parsed-expression {
  /* background-color: #fff; */
  /* border-color: #d6d6e1; */
  border-radius: 5px;

  font-family: 'RobotoMono-Regular';

  display: inline-block;
  /* width: 50%; */

  /* padding: 5px 9px 4px; */
  border-radius: 5px;
}

.result-sum > * {
  /* margin-left: 1em; */
  /* margin-right: 5em; */
}

.res {
  /* IE-  width: fit-content;  */  /* https://stackoverflow.com/a/16765030/1948511 */
  white-space: nowrap;

  display: inline-block;
  /* margin-top: 1em; */
  border-color: transparent;
}


.hidden {
  visibility: hidden;
}


/* user input highlights */
.hl-number {
}


.highlighted-input {
    font-family: 'RobotoMono-Regular';
}

.result-sum {
  display: flex;
  justify-content: space-between;
}

.semi-transparent {
  opacity: 0.5
}
