@font-face {
    font-family: 'helveticaregular';
    src: url('fonts/helvetica-webfont.eot');
    src: url('fonts/helvetica-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/helvetica-webfont.woff2') format('woff2'),
    url('fonts/helvetica-webfont.woff') format('woff'),
    url('fonts/helvetica-webfont.svg#helveticaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoMono-Regular';
    src: url('fonts/RobotoMono-Regular/RobotoMono-Regular.eot') format('embedded-opentype'),
         url('fonts/RobotoMono-Regular/RobotoMono-Regular.woff') format('woff'),
         url('fonts/RobotoMono-Regular/RobotoMono-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}