/*Variables*/
/* Custom style*/
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ul {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

a {
  text-decoration: none;
  color: #000;
  display: inline-block; }

h2 {
  font-size: 22px; }

/* Font-color*/
.orange-color {
  color: #de6b48; }

.blue-color {
  color: #2191fb; }

.red-color {
  color: #de6b48; }

.violet-color {
  color: #6622cc; }

.grey-color {
  color: #747e95; }

.grey-bg {
  background-color: #fff;
  padding: 5px 9px 4px;
  border-radius: 5px; }

.green-color {
  color: #4ecdc4; }

.green-bg {
  background-color: #4ecdc4;
  border-radius: 5px;
  color: #fff;
  padding: 3px 5px; }

body {
  font: 14px helveticaregular;
  margin: 0 auto;
  color: #252424;
  background-color: #e7e7ef; }

.container {
  max-width: 620px;
  margin: 0 auto;
  /* padding: 0 10px; */
}

header {
  background-color: #f2f2f6; }
  header .container {
    display: flex;
    justify-content: center; }
    header .container .logo {
      font-size: 20px;
      font-weight: bold;
      display: flex;
      align-items: center; }
      header .container .logo img {
        padding: 0 14px 0 0; }
    header .container .menu {
      display: flex; }
      header .container .menu li a {
        color: #747e95;
        font-size: 16px;
        padding: 20px 0 17px;
        border-bottom: 3px solid #f2f2f6;
        margin-left: 29px; }
        header .container .menu li a:active, header .container .menu li a:hover {
          color: #252424;
          border-bottom: 3px solid #252424; }

main {
  padding: 14px 0; }

.example {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #d6d6e1;
  border-radius: 5px;
  font-family: 'RobotoMono-Regular';
  font-weight: 500; }
  .example p {
    margin: 0; }

.result {
  display: flex;
  justify-content: space-between;
  font-family: 'RobotoMono-Regular'; }
  .result p {
    margin: 0 0 1em; }

.result.sum {
  margin: 0 0 0 15px; }

.currency-table {
  margin: 30px 0; }

.currency-table-percent {
  margin: 15px 0; }

.currency-table ul li:not(:first-child) span + span {
  color: #de6b48; }

.currency-table ul li:not(:last-child),
.constants-table ul li:not(:last-child),
.currency-table-percent ul li:not(:last-child) {
  border-bottom: 1px solid #d6d6e1; }

div.currency-table-percent ul li span:first-child {
  min-width: 350px; }

.currency-table ul li,
.currency-table-percent ul li {
  padding: 11px 0; }
  .currency-table ul li span,
  .currency-table-percent ul li span {
    font-family: 'RobotoMono-Regular';
    display: inline-block; }
    .currency-table ul li span:first-child,
    .currency-table-percent ul li span:first-child {
      min-width: 130px;
      font-family: 'helveticaregular'; }
  .currency-table ul li p,
  .currency-table-percent ul li p {
    font-family: 'RobotoMono-Regular';
    display: inline-block;
    margin: 0; }
    .currency-table ul li p span:first-child,
    .currency-table-percent ul li p span:first-child {
      min-width: inherit; }

.currency-table-percent ul li:first-child span,
.currency-table ul li:first-child span,
div.constants-table ul li:first-child span {
  color: #747e95;
  font-weight: normal;
  font-family: 'helveticaregular'; }

.shortcuts {
  margin: 30px 0 15px; }

.shortcuts-table ul li span:last-child {
  font-weight: bold; }

.shortcuts-table ul li:not(:last-child) {
  border-bottom: 1px solid #d6d6e1; }

.shortcuts-table ul li:first-child {
  border-top: 1px solid #d6d6e1; }

.shortcuts-table ul li,
.constants-table ul li {
  padding: 11px 0; }
  .shortcuts-table ul li span:first-child,
  .constants-table ul li span:first-child {
    min-width: 300px;
    display: inline-block; }
  .shortcuts-table ul li span:last-child,
  .constants-table ul li span:last-child {
    font-family: 'RobotoMono-Regular';
    font-weight: bold; }

/*Page-2 Calculator*/
.main {
  padding: 0; }

.change {
  background-color: #ededf5;
  padding: 20px 0 17px; }
  .change .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .change div {
    display: flex;
    align-items: center; }

.switch div {
  padding: 0 5px; }


/* .holder .open-search.white { */
/*   display: none; */
/* } */

.holder .plus {
  padding: 0 9px 0 0;
}

.total {
  color: #747e95;
  font-family: 'RobotoMono-Regular'; }

.holder {
  position: relative; }
  .holder span {
    display: inline-block;
    cursor: pointer; }
    .holder span:first-child {
      padding-right: 9px; }
  .holder span.active + span + .search-form {
    display: block; }

.checkbox {
  margin: 0 5px;
  width: 21px;
  height: 11px; }

.checkbox + label {
  cursor: pointer; }

.checkbox:not(checked) {
  position: absolute;
  opacity: 0; }

.checkbox:not(checked) + label {
  position: relative;
  height: 4px;
  width: 21px; }

.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 21px;
  height: 11px;
  border-radius: 13px;
  background: #fff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.58); }

.checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 10px;
  height: 11px;
  border-radius: 50px;
  background: #000;
  border: 1px solid #747e95;
  transition: all .2s; }

.checkbox:checked + label:after {
  left: 12px; }

.calc-example {
  padding: 17px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative; }
  .calc-example div + div span {
    display: block;
    margin: 1em 0;
    text-align: right; }
  .calc-example div + div div span {
    margin: 0;
    font-family: 'helveticaregular';
    padding: 3px 5px; }

.calc-example span,
.calc-example p {
  font-family: 'RobotoMono-Regular'; }

/*Page-2 Search-form*/
.search-form {
  position: absolute;
  background-color: #252424;
  border-radius: 5px;
  padding: 5px;
  top: 35px;
  right: -9px;
  display: none;
  width: 171px;
  z-index: 1; }
  .search-form input {
    color: white;
    width: 161px;
    height: 20px;
    border-radius: 2px;
    background-color: #000000;
    border: solid 1px #3d3b3b;
    margin: 0 auto;
    padding: 3px; }
  .search-form:after {
    content: '';
    width: 11px;
    height: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    /* background-image: url("../img/search.svg"); */ }
  .search-form:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #252424;
    position: absolute;
    top: -7px;
    right: 9px; }

  .search-form.active {
    display: unset;
  }


.search-form ul li {
  color: #fff;
  font-size: 10px;
  padding: 7px 0;
  position: relative; }
  .search-form ul li span {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 9px;
    width: 7px;
    height: 7px;
    background: url("../img/close.svg") no-repeat; }



.sum:hover + .copy {
  display: block; }

div.copy {
  display: none;
  position: absolute;
  background-color: #252424;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  font: 10px 'helveticaregular';
  top: 22%;
  right: 0; }
  div.copy:before {
    content: '';
    display: inline-block;
    border: 7px solid transparent;
    border-top: 7px solid #252424;
    position: absolute;
    bottom: -14px;
    right: 30px; }

@media screen and (max-width: 380px) {
  div.currency-table-percent ul li span:first-child {
    min-width: auto; }

  .constants-table ul li span:first-child {
    min-width: 150px; }

  .shortcuts-table ul li span:first-child {
    min-width: 200px; }

  .change {
    padding: 0; }

  .change .container {
    display: block; }
    .change .container div {
      display: flex;
      justify-content: center;
      padding: 10px 0; }

  .search-form {
    right: calc(50% - 85px); }
    .search-form:before {
      right: calc(100%/2 - 20px); }

  .change .container .switch div {
    padding: 0 5px; } }

/*# sourceMappingURL=light.css.map */

.textholder {
  caret-color: black;
}

/* from CruptoCalc.css */
.error {
  color: gray;
 font-size: x-small;
}

.textholder-placeholder {
  color: gray;
}

.textholder {
  color: rgba(0,0,0, 0);
  caret-color: black;
}

.parsed-expression {
  background-color: #fff;
  border-color: #d6d6e1;
}

.hl-number {
  color: pink;
}

.hl-blue {
  color: blue;
}

.violet-color {
  color: #6622cc;
}
